<h1>Hellow world, greet {{testVariable}}</h1>
<button (click)="testFunction()">Click me</button>
<p>{{anotherVariabel}}</p>
<p [ngStyle]="{'color': isApproved ? 'green' : 'red'}">{{isApproved ? 'Pinjaman anda disetujui' : 'Pinjaman anda ditolak'}}</p>
<div *ngIf="isApproved">
  <p>Pinjaman anda disetujui</p>
</div>
<div *ngIf="!isApproved">>
  <p>Pinjaman anda ditolak</p>
</div>

<div *ngFor="let animal of animals">
  <h2>{{animal.name}}</h2>
  <h3>{{animal.age ? animal.age : 'Umur undefined' }}</h3>
</div>

